/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Kanit:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(212, 148, 255, 0.726);
    font-family: 'Kanit', sans-serif;
}

html {
    
}


/*MAIN CONTAINER BLOCK*/
.container-fluid {
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.22), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}


.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    overflow-x: hidden;
    background-color: #000000ce;
    padding-top: 60px;
    white-space: nowrap;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #8a8a8a;
    display: block;
    margin-top: 30px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar span {
    margin-left: 25px;
}

#row .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {

    margin-right: 30px
}

#row, #row2, #row3, #row4{
    transition: margin-left 0.4s;
    padding: 16px;
    margin-left: 210px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}



/* SONGS INFO BLOCK*/
.song-info {
    width: 100%;
    height: 35%;
    margin-top: 25px;
    margin-left: 35px;
    padding: 15px;
    display: flex;
    margin-bottom: 20px;
}

.song-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.details {
    text-align: center;
}

.song-info img {
    width: 20%;
    border-radius: 10px;
    display: block;
}

.song-info h3 {
    width: 100%;
    margin-top: 45px;
}

.song-info p {
    width: 100%;
}



/*SONGS LIST BLOCK*/
.songs-list {
    width: 100%;
    margin-left: 15px;
    overflow-y: scroll;
    max-height: 275px;
    border-radius: 8px;
    background-color: aliceblue;
}

table tr th {
    table-layout: fixed;
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(160, 160, 160, 0.548);
}

table tr td {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

table tr:hover {
    background-color: rgba(207, 207, 207, 0.671);
}

table tr th:hover {
    text-decoration: underline;
    color: rgba(205, 131, 255, 0.726);
}

table img {
    width: 50px;
}

.focus-played-song {
    color: rgba(226, 163, 209, 0.966);
    font-weight: 900;
}



/*CONTROL BUTTONS*/
.control-buttons {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.control-buttons img {
    padding: 5%;
    width: 16%;
    cursor: pointer;
    margin-right: 35px;
    margin-left: -40px;
}

.control-buttons div {
    border: 1px solid black;
    width: 100%;
}



/*EQUALIZER*/
equalizer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/*RADIO STATION*/
.rs-title {
    text-align: center;
    margin-top: -130px;
    font-size: 25px;
    font-weight: 600;
}

.radio-stations {
    justify-content: center;
    margin: auto;
    text-align: center;
    display: flex;
}

.radio-stations button {
    margin-right: 10px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    color: #000000ce;
}

.radio-button {
    border: none;
    background-color: rgba(212, 148, 255, 0.726);
    border-radius: 7px;
    width: 75px;
    padding: 2px;
    border: 2px solid transparent;
    font-size: 19px;
    color: rgb(231, 244, 255);
}

.radio-button:hover {
    border: solid 2px aliceblue;
    color: #000000ce;
    font-weight: 900;
}



/*PROGRESS BAR*/
#progress-container {
    margin-top: 100px;
    width: 100%;
    height: 20px;
    background-color: #ddd;
}

#progress-bar {
    height: 100%;
    background-color: rgba(212, 148, 255, 0.726);
    width: 0;
}




/*ARTIST SECTION*/
#row2 {
    width: 95%;
    height: 100%;
    border-radius: 10px;
    transition: margin-left 0.5s;
    padding: 16px;
    background-color: aliceblue;
}

.search-div {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.search-div input[type="text"] {
    font-size: 45px;
    margin-right: 30px;
    text-align: center;
    background-color: aliceblue;
    border: solid 1px black;
}

.artists-table {
    display: grid;
    grid-template-columns: 1.9fr 1.9fr 1.9fr 1.9fr;
    width: 90%;
    height: 80%;
    max-height: 605px;
    margin: auto;
    gap: 50px;
    overflow-y: scroll;
    padding: 30px;
}

.artists-table img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
    transition: transform .3s;
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}
.artists-table img:hover {
    transform: scale(1.1);
}

.artists-table h1 {
    text-align: center;
    align-items: center;
    margin: auto;
    width: 100%;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 30px;
}

.artists-table hr {
    background-color: black;
    width: 100%;
}

.artists-table .album {
    border-radius: 50%;
}




/*MAIN MENU SECTION*/
.header {
    text-align: center;
    padding: 20px;
    width: 85%;
    margin: auto;
}
.header h1 {
    letter-spacing: 4px;
    word-spacing: 3px;
    font-size: 120px;
    font-weight: 800;
    margin-top: 30px;
    font-family: 'Kanit', sans-serif;
    margin-bottom: 70px;
}
.header p {
    font-size: 32px;
    line-height: 60px;
    letter-spacing: 3px;
}
.header img {
    margin-top: -50px;
    width: 40%;
}

.reveal-left {
    position: relative;
    transform: translateX(-200px);
    opacity: 0;
    transition: 0.75s all ease-in;
    margin-top: 30px;
}