/*IMPORTS*/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(212, 148, 255, 0.726);
    font-family: 'Kanit', sans-serif;
}


/*MAIN CONTAINER BLOCK*/
.container-fluid {
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 0 7px 18px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}



/* SONGS INFO BLOCK*/
.song-info {
    width: 100%;
    height: 35%;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    margin-bottom: 20px;
}

.song-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.details {
    text-align: center;
}

.song-info img {
    width: 16%;
    border-radius: 10px;
    display: block;
}

.song-info h3 {
    width: 100%;
    margin-top: 30px;
}

.song-info p {
    width: 100%;
}



/*SONGS LIST BLOCK*/
.songs-list {
    width: 100%;
    overflow-y: scroll;
    max-height: 275px;
    border-radius: 8px;
}

table tr th {
    table-layout: fixed;
    font-size: 17px;
    font-weight: bold;
    background-color: rgba(160, 160, 160, 0.548);
}

table tr td {
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
}

table tr:hover {
    background-color: rgba(207, 207, 207, 0.671);
}

table tr th:hover {
    text-decoration: underline;
    color: rgba(205, 131, 255, 0.726);
}

table img {
    width: 50px;
}

.focus-played-song {
    color: rgba(226, 163, 209, 0.966);
    font-weight: 900;
}



/*CONTROL BUTTONS*/
.control-buttons {
    display: flex;
    align-items: center;
    margin-top: -40px;
}

.control-buttons img {
    padding: 5%;
    width: 16%;
    cursor: pointer;
    margin-right: 35px;
    margin-left: -40px;
}

.control-buttons div {
    border: 1px solid black;
    width: 100%;
}



/*EQUALIZER*/
equalizer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}



/*RADIO STATION*/
.rs-title {
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
}

.radio-stations {
    justify-content: center;
    margin: auto;
    text-align: center;
    padding: 4px;
    display: flex;
}

.radio-stations button {
    margin-right: 10px;
    padding: 3px;
    width: 100%;
    justify-content: center;
}

.radio-button {
    border: none;
    background-color: rgba(212, 148, 255, 0.726);
    border-radius: 7px;
    width: 75px;
    padding: 2px;
    border: 2px solid transparent;
    font-size: 19px;
    color: rgb(231, 244, 255);
}

.radio-button:hover {
    border: solid 2px rgb(88, 88, 88);
    color: rgb(88, 88, 88);
    font-weight: 900;
}



/*PROGRESS BAR*/
#progress-container {
    margin-top: 100px;
    width: 95%;
    height: 20px;
    background-color: #ddd;
}

#progress-bar {
    height: 100%;
    background-color: rgba(212, 148, 255, 0.726);
    width: 0;
}